@using Microsoft.AspNetCore.Identity
@using System.Globalization
@using GameSite.Data
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = Resources.Resource.AdminPanel;
    var currentUser = await UserManager.GetUserAsync(User);
}

<center>
    <h1>@Resources.Resource.AdminPanel</h1>
</center>

<ul>
    @foreach (ApplicationUser? user in ViewBag.Users)
    {
        @if (user != null)
        {
            <li class="admin-user-block">
                <p><b>Email:</b> @user?.Email</p>
                <p><b>Name:</b> @user?.Name</p>
                @if (user.LockoutEnd.HasValue && user.LockoutEnd.Value > DateTimeOffset.Now)
                {
                    <p><b>@Resources.Resource.Status: </b>@Resources.Resource.Blocked @user.LockoutEnd.Value.ToString()</p>
                }
                else
                {
                    <p><b>@Resources.Resource.Status: </b>@Resources.Resource.NotBlocked</p>
                }
                <p>
                    <b>@Resources.Resource.Roles:</b>
                    @foreach (string role in await SignInManager.UserManager.GetRolesAsync(user))
                    {
                        <span class="profile-role badge bg-primary">@role</span>
                    }
                </p>
                <p><b>@Resources.Resource.RegistrationDate:</b> @user?.RegistrationDate</p>

                <form asp-controller="Admin" asp-action="ManageRole" method="post">

                    <input type="hidden" value="@user?.Id" name="userId" readonly hidden />
                    <label>@Resources.Resource.RoleName</label>
                    <input type="text" name="role" />
                    <button type="submit" class="btn btn-primary" name="submitType" value="Add">
                        @Resources.Resource.AssignARole</button>
                    <button type="submit" class="btn btn-warning" name="submitType" value="Remove">
                        @Resources.Resource.DeleteRole</button>

                    @if (user?.Id != currentUser?.Id)
                    {
                        <button type="submit" class="btn btn-danger" name="submitType" value="Block">
                            @Resources.Resource.Block</button>
                        <button type="submit" class="btn btn-success" name="submitType" value="Unblock">
                            @Resources.Resource.Unblock</button>
                    }
                </form>

                <br>

            </li>
        }
    }
</ul>

<partial name="_Pagination" />
