@using Microsoft.AspNetCore.Identity
@using GameSite.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IgroNewsUa</title>

    <link rel="stylesheet" href="~/css/tooplate_style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/GameSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/post-content.css" />
    <link rel="stylesheet" href="~/css/post-comments.css" />
    <link rel="stylesheet" href="~/css/admin-panel.css" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <span style="color: rgb(255, 145, 0);">Igro</span><span style="color: green;">News</span><span
                        style="color: blue;">Ua</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" id="btn-outline-primary" asp-action="News">
                                @Resources.Resource.News</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" id="btn-outline-primary" asp-action="Reviews">
                                @Resources.Resource.Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" id="btn-outline-primary" asp-action="Articles">
                                @Resources.Resource.Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" id="btn-outline-primary" asp-action="Guides">
                                @Resources.Resource.Guides</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item" style="margin-right: 10px;margin-left: 10px;">
                                <a class="btn btn-primary" asp-controller="Home" asp-action="Saved">
                                    @Resources.Resource.SavedPosts</a>
                            </li>

                            @if (User.IsInRole("Author"))
                            {
                                <li class="nav-item align-content-end">
                                    <a class="btn btn-success" asp-controller="Home"
                                        asp-action="Create">@Resources.Resource.Create_a_post</a>
                                </li>
                            }
                        }
                    </ul>

                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; @(DateTime.UtcNow.ToString("yyyy")) - IgroNewsUa - <a asp-controller="Home" asp-action="About">
                @Resources.Resource.AboutUs
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", false)
</body>

</html>
