@using Microsoft.AspNetCore.Identity
@using GameSite.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

<ul class="navbar-nav">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Language" asp-action="SetLanguage" asp-route-lang="uk"
            asp-route-returnUrl="@Context.Request.Path">Укр</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Language" asp-action="SetLanguage" asp-route-lang="en"
            asp-route-returnUrl="@Context.Request.Path">Eng</a>
    </li>

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="SavedPosts">@Resources.Resource.SavedPosts</a>
        </li>

        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="AdminPanel">@Resources.Resource.AdminPanel</a>
            </li>
        }

        var user = await UserManager.GetUserAsync(User);

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="@user?.UserName">
                @user?.Name
            </a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">@Resources.Resource.SignOut</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Resources.Resource.Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Resources.Resource.LogIn</a>
        </li>
    }
</ul>
