@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions
@using GameSite.Data
@using GameSite.Models
@using Humanizer
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Post>

<div class="post-list">

    @foreach (Post post in ViewBag.Posts)
    {
        <div class="post">
            @if (!string.IsNullOrEmpty(post.TitleImage))
            {
                <a class="no-underline" asp-action="Show" asp-route-id="@post.Id">
                    <div class="cover-image-container">
                        <img src="@post.TitleImage" class="cover-image" alt="Cover Image" />
                    </div>
                </a>
            }
            <div class="post-content">
                <a class="no-underline" asp-action="Show" asp-route-id="@post.Id">
                    <center><h3>@post.Title</h3></center>
                </a>
                <center>
                    @if (CultureInfo.CurrentCulture.Name == "uk")
                    {
                        <b style="color: @SiteFunctions.GetColorCode(post.TypeId)">@post.TypeId</b>
                    }
                    else
                    {
                        string Type = post.TypeId switch
                        {
                            PostType.Новина => "News",
                            PostType.Огляд => "Review",
                            PostType.Стаття => "Article",
                            PostType.Гайд => "Guide",
                            _ => "News",
                        };
                        <b style="color: @SiteFunctions.GetColorCode(post.TypeId)">@Type</b>
                    }
                </center>
                @{
                    string Content = Regex
                        .Replace(post.Content, "<.*?>", "")
                        .Replace("&nbsp;", " ")
                        .Replace("&rsquo;", "’")
                        .Replace("&mdash;", "—")
                        .Replace("&laquo;", "«")
                        .Replace("&raquo;", "»")
                        .Replace("&ldquo;", "“")
                        .Replace("&rdquo;", "”");

                    if (Content.Length > 130)
                    {
                        Content = Content.Substring(0, 130);
                        int lastSpace = Content.LastIndexOf(" ");
                        Content = Content.Substring(0, lastSpace) + "...";
                    }
                }

                <p>@Content</p>

                @if(post.TypeId == PostType.Огляд)
                {
                    <center>
                        <div class="review-rating" title="@(post.ReviewRating)/100 @Resources.Resource.Points">
                                @post.ReviewRating
                        </div>
                    </center>
                }
                <p>
                    <i>@Resources.Resource.Tags:
                        @{
                            var tags = post.Tags.Split(",");
                            for (var i = 0; i < tags.Length; i++)
                            {
                                <a class="post-tags" asp-action="Tag" asp-route-tag="@tags[i].Trim()">@tags[i].Trim().Replace('_', ' ')</a>
                                @if (i < tags.Length - 1)
                                {
                                    @:<b>,</b>
                                }
                            }
                        }
                    </i>
                </p>

                <p title="@post.Date.ToString("yyyy-MM-dd HH:mm")">
                    @post.Date.ToString("dd MMMM, yyyy")

                    <a class="no-underline" asp-action="Show" asp-route-id="@post.Id" asp-fragment="comments">
                        <span class="comment-icon">💬</span>
                        @(post.Comments?.Count() ?? 0)  </a>
                    <span>👍@post.LikesCount  </span>
                    <span>👎@post.DislikesCount  </span>
                </p>

                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole("Author"))
                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@post.Id">
                            @Resources.Resource.Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@post.Id" 
                            onclick="return confirmDelete('@(Resources.Resource.ConfirmDelete)');">
                            @Resources.Resource.Delete</a>
                    }
                }
            </div>
        </div>
    }
</div>
