@page
@model IndexModel
@{
    ViewData["Title"] = Resources.Resource.Profile;
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@Resources.Resource.Profile</h3>

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control"
                    placeholder="@Resources.Resource.EnterYourPhoneNumber" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Description" class="form-control" />
                <label asp-for="Input.Description" class="form-label"></label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>

            <div class="form-inline">
                <div class="form-check mr-3">
                    <input class="form-check-input" type="radio" id="genderCheckbox1" name="genderCheckbox" value="true"
                    @(Model.Input.Gender == true ? "checked" : "")>
                    <label class="form-check-label" for="genderCheckbox">Чоловік</label>
                </div>
                <div class="form-check mr-3">
                    <input class="form-check-input" type="radio" id="genderCheckbox2" name="genderCheckbox"
                        value="false" @(Model.Input.Gender == false ? "checked" : "")>
                    <label class="form-check-label" for="genderCheckbox">Жінка</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="genderCheckbox3" name="genderCheckbox" value="null"
                    @(Model.Input.Gender == null ? "checked" : "")>
                    <label class="form-check-label" for="genderCheckbox">Не вказано</label>
                </div>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">
                @Resources.Resource.Save
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
