@using GameSite.Data
@using GameSite.Models

@if (ViewBag.PG.Page > 1 && ViewBag.PG.TagParametr == null && ViewBag.PG.SearchParametr == null)
{
    <a class="btn btn-primary" asp-action="@ViewBag.PG.ActionName" asp-route-page="@(ViewBag.PG.Page - 1)">
        @Resources.Resource.BackPage</a>
}

@if (ViewBag.PG.Page < ViewBag.PG.TotalPages && ViewBag.PG.TagParametr == null && ViewBag.PG.SearchParametr == null)
{
    <a class="btn btn-primary" asp-action="@ViewBag.PG.ActionName" asp-route-page="@(ViewBag.PG.Page + 1)">
        @Resources.Resource.NextPage</a>
}


@* Якщо сторінка з параметром tag *@
@if (ViewBag.PG.Page > 1 && ViewBag.PG.TagParametr != null)
{
    <a class="btn btn-primary" asp-action="@ViewBag.PG.ActionName" asp-route-tag="@ViewBag.PG.TagParametr"
        asp-route-page="@(ViewBag.PG.Page - 1)">
        @Resources.Resource.BackPage
    </a>
}

@if (ViewBag.PG.Page < ViewBag.PG.TotalPages && ViewBag.PG.TagParametr != null)
{
    <a class="btn btn-primary" asp-action="@ViewBag.PG.ActionName" asp-route-tag="@ViewBag.PG.TagParametr"
        asp-route-page="@(ViewBag.PG.Page + 1)">
        @Resources.Resource.NextPage
    </a>
}


@* Якщо сторінка з параметром search *@
@if (ViewBag.PG.Page > 1 && ViewBag.PG.SearchParametr != null)
{
    <a class="btn btn-primary" asp-action="@ViewBag.PG.ActionName" asp-route-search="@ViewBag.PG.SearchParametr"
        asp-route-page="@(ViewBag.PG.Page - 1)">
        @Resources.Resource.BackPage
    </a>
}

@if (ViewBag.PG.Page < ViewBag.PG.TotalPages && ViewBag.PG.SearchParametr != null)
{
    <a class="btn btn-primary" asp-action="@ViewBag.PG.ActionName" asp-route-search="@ViewBag.PG.SearchParametr"
        asp-route-page="@(ViewBag.PG.Page + 1)">
        @Resources.Resource.NextPage
    </a>
}