@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions
@using GameSite.Data
@using GameSite.Models
@using Humanizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Post>

<div class="post-list">

    @foreach (Post post in ViewBag.Posts)
    {
        <div class="post">
            @if (!string.IsNullOrEmpty(post.TitleImage))
            {
                <a class="no-underline" asp-action="Show" asp-route-id="@post.Id">
                    <div class="cover-image-container">
                        <img src="@post.TitleImage" class="cover-image" alt="Cover Image" />
                    </div>
                </a>
            }
            <div class="post-content">
                <a class="no-underline" asp-action="Show" asp-route-id="@post.Id">
                    <center><h3>@post.Title</h3></center>
                </a>
                <b style="color: @SiteFunctions.GetColorCode(post.TypeId)">@post.TypeId</b>
                
                @{
                    string Content = Regex.Replace(post.Content, "<.*?>", ""); // Видаляємо HTML теги
                    int maxLength = 130; // Максимальна довжина тексту

                    if (Content.Length > maxLength)
                    {
                        Content = Content.Substring(0, maxLength); // Обмежуємо довжину тексту
                        int lastSpace = Content.LastIndexOf(" "); // Знаходимо останній пробіл
                        Content = Content.Substring(0, lastSpace) + "..."; // Відкидаємо частину після останнього пробілу
                    }
                }

                <p>@Content</p>
                
                @* @if (post.Content.Length > 126)
                 { <p>@((string)Regex.Replace(post.Content, "<.*?>", "").Substring(0, 125))...</p> }
                else
                    { <p>@Regex.Replace(post.Content, "<.*?>", "")</p> } *@

                <p>
                    <i>@Resources.Resource.Tags:
                        @{
                            var tags = post.Tags.Split(",");
                            for (var i = 0; i < tags.Length; i++)
                            {
                                <a class="post-tags" asp-action="Tag" asp-route-tag="@tags[i].Trim()">@tags[i].Trim().Replace('_', ' ')</a>
                                @if (i < tags.Length - 1)
                                {
                                    @:<b>,</b>
                                }
                            }
                        }
                    </i>
                </p>

                <p title="@post.Date.ToString("yyyy-MM-dd HH:mm")">
                    @post.Date.ToString("dd MMMM, yyyy")
                    <span class="comment-icon">💬</span>
                    @(ViewBag.CommentsCount.ContainsKey(post.Id) ? ViewBag.CommentsCount[post.Id] : 0)
                </p>

                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole("Author"))
                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@post.Id">
                            @Resources.Resource.Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@post.Id" 
                            onclick="return confirmDelete('Ви впевнені, що хочете видалити цю публікацію?');">
                            @Resources.Resource.Delete</a>
                    }
                }
            </div>
        </div>
    }
</div>

