@using Humanizer;
@model Comment;
@{
    ViewData["Title"] = "Show";
}

<div class="text-center">
    <h1 class="display-4"></h1>

    <div class="show-post" style="background-color: rgb(199, 199, 199);">
        <h3>@(ViewBag.Post.Id) @ViewBag.Post.Title</h3>
        <p>@Html.Raw(ViewBag.Post.Content)</p>
        <p>@ViewBag.Post.Date @ViewBag.Post.Author</p>
        <p>
            👍@(ViewBag.Post.LikesCount)
            👎@(ViewBag.Post.DislikesCount)
        </p>
        <p>Теги: @ViewBag.Post.Tags</p>
    </div>
    <a href="/Home">Назад</a>

    <h3>Написати коментар</h3>
    <form asp-action="Show" method="post" class="comment-form">

        <input type="hidden" value="@ViewBag.Post.Id" name="PostId" />
        <div class="form-group">
            <span asp-validation-for="Author" class="text-danger"></span>
            <label asp-for="Author" class="form-control"></label>
            <input asp-for="Author" class="form-control">
        </div>
        <div class="form-group">
            <span asp-validation-for="Text" class="text-danger"></span>
            <textarea asp-for="Text" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Додати коментар</button>

    </form>

    <h3>Коментарі</h3>
    @foreach (var comment in ViewBag.Coments)
    {
        <div class="post-comment">
            <p><b>@(comment.Author): </b> @comment.Text</p>
            <p class="date-time" title="@(comment.Date.ToString("yyyy-MM-dd HH:mm"))">
                @(DateTime.Now.Add(-((TimeSpan)(DateTime.Now - comment.Date))).Humanize())
                @if ((bool)comment.Edited)
                {
                    <b> редаговано</b>
                }
            </p>
        </div>
    }
</div>