@using Humanizer;
@model Comment;
@{
    ViewData["Title"] = "Show";
}

<div class="text-center">
    <h1 class="display-4"></h1>

    <div class="publication" style="background-color: rgb(199, 199, 199);">
        <h3>@(ViewBag.Publication.Id) @ViewBag.Publication.Title</h3>
        <p>@Html.Raw(ViewBag.Publication.Content)</p>
        <p>@ViewBag.Publication.Date @ViewBag.Publication.Author</p>
        <p>
            👍@(ViewBag.Publication.LikesCount)
            😢@(ViewBag.Publication.DislikesCount)
            Теги: @ViewBag.Publication.Tags
        </p>
    </div>
    <a href="/Home">Назад</a>

    <h3>Написати коментар</h3>
    <form asp-action="Show" method="post">

        <input type="hidden" value="@ViewBag.Publication.Id" name="PublicationId" />
        <div class="form-group">
            <label asp-for="Author" class="form-control"></label>
            <input asp-for="Author" class="form-control">
        </div>
        <div class="form-group">
            <textarea asp-for="Text" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Додати коментар</button>

    </form>

    <h3>Коментарі</h3>
    @foreach (var coment in ViewBag.Coments)
    {
        <div>
            <p><b>@(coment.Author): </b> @coment.Text</p>
            <p title="@(coment.Date.ToString("yyyy-MM-dd HH:mm"))">
                @(DateTime.Now.Add(-((TimeSpan)(DateTime.Now - coment.Date))).Humanize())</p>
        </div>
    }
</div>